@import "tailwindcss";
@import "m3-svelte/misc/styles.css";
@import "m3-svelte/misc/recommended-styles.css";
@import "m3-svelte/misc/tailwind-styles.css";
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  :root,
  ::backdrop {
    --m3-scheme-background: 249 249 249;
    --m3-scheme-on-background: 50 50 50;
    --m3-scheme-surface: 249 249 249;
    --m3-scheme-surface-dim: 218 218 218;
    --m3-scheme-surface-bright: 249 249 249;
    --m3-scheme-surface-container-lowest: 255 255 255;
    --m3-scheme-surface-container-low: 243 243 243;
    --m3-scheme-surface-container: 238 238 238;
    --m3-scheme-surface-container-high: 232 232 232;
    --m3-scheme-surface-container-highest: 226 226 226;
    --m3-scheme-on-surface: 50 50 50;
    --m3-scheme-on-surface-variant: 95 95 95;
    --m3-scheme-outline: 123 123 123;
    --m3-scheme-outline-variant: 178 178 178;
    --m3-scheme-inverse-surface: 14 14 14;
    --m3-scheme-inverse-on-surface: 157 157 157;
    --m3-scheme-primary: 155 70 34;
    --m3-scheme-primary-dim: 139 58 24;
    --m3-scheme-on-primary: 255 247 245;
    --m3-scheme-primary-container: 253 145 104;
    --m3-scheme-on-primary-container: 87 26 0;
    --m3-scheme-primary-fixed: 253 145 104;
    --m3-scheme-primary-fixed-dim: 236 133 92;
    --m3-scheme-on-primary-fixed: 44 9 0;
    --m3-scheme-on-primary-fixed-variant: 102 32 0;
    --m3-scheme-inverse-primary: 253 145 104;
    --m3-scheme-secondary: 120 88 76;
    --m3-scheme-secondary-dim: 106 76 65;
    --m3-scheme-on-secondary: 255 247 245;
    --m3-scheme-secondary-container: 255 219 206;
    --m3-scheme-on-secondary-container: 105 75 64;
    --m3-scheme-secondary-fixed: 255 219 206;
    --m3-scheme-secondary-fixed-dim: 246 203 189;
    --m3-scheme-on-secondary-fixed: 85 57 46;
    --m3-scheme-on-secondary-fixed-variant: 116 84 73;
    --m3-scheme-tertiary: 105 95 48;
    --m3-scheme-tertiary-dim: 93 83 37;
    --m3-scheme-on-tertiary: 255 248 234;
    --m3-scheme-tertiary-container: 253 238 178;
    --m3-scheme-on-tertiary-container: 98 88 42;
    --m3-scheme-tertiary-fixed: 253 238 178;
    --m3-scheme-tertiary-fixed-dim: 239 224 165;
    --m3-scheme-on-tertiary-fixed: 79 70 26;
    --m3-scheme-on-tertiary-fixed-variant: 109 99 51;
    --m3-scheme-error: 187 27 27;
    --m3-scheme-error-dim: 169 8 16;
    --m3-scheme-on-error: 255 247 246;
    --m3-scheme-error-container: 254 78 68;
    --m3-scheme-on-error-container: 87 0 3;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-on-on-primary: 154 69 34;
    --m3-scheme-primary-container-subtle: 255 208 191;
    --m3-scheme-on-primary-container-subtle: 131 52 18;
    --m3-scheme-tertiary-container-subtle: 233 218 160;
    --m3-scheme-on-tertiary-container-subtle: 86 77 32;
    --m3-scheme-error-container-subtle: 255 207 201;
    --m3-scheme-on-error-container-subtle: 158 0 11;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  :root,
  ::backdrop {
    --m3-scheme-background: 14 14 14;
    --m3-scheme-on-background: 229 229 229;
    --m3-scheme-surface: 14 14 14;
    --m3-scheme-surface-dim: 14 14 14;
    --m3-scheme-surface-bright: 44 44 44;
    --m3-scheme-surface-container-lowest: 0 0 0;
    --m3-scheme-surface-container-low: 19 19 19;
    --m3-scheme-surface-container: 25 25 25;
    --m3-scheme-surface-container-high: 31 31 31;
    --m3-scheme-surface-container-highest: 38 38 38;
    --m3-scheme-on-surface: 229 229 229;
    --m3-scheme-on-surface-variant: 171 171 171;
    --m3-scheme-outline: 117 117 117;
    --m3-scheme-outline-variant: 72 72 72;
    --m3-scheme-inverse-surface: 249 249 249;
    --m3-scheme-inverse-on-surface: 85 85 85;
    --m3-scheme-primary: 253 145 104;
    --m3-scheme-primary-dim: 236 133 92;
    --m3-scheme-on-primary: 87 26 0;
    --m3-scheme-primary-container: 236 133 92;
    --m3-scheme-on-primary-container: 68 18 0;
    --m3-scheme-primary-fixed: 253 145 104;
    --m3-scheme-primary-fixed-dim: 236 133 92;
    --m3-scheme-on-primary-fixed: 44 9 0;
    --m3-scheme-on-primary-fixed-variant: 102 32 0;
    --m3-scheme-inverse-primary: 155 70 34;
    --m3-scheme-secondary: 231 190 175;
    --m3-scheme-secondary-dim: 216 176 162;
    --m3-scheme-on-secondary: 86 57 47;
    --m3-scheme-secondary-container: 80 53 43;
    --m3-scheme-on-secondary-container: 223 182 168;
    --m3-scheme-secondary-fixed: 255 219 206;
    --m3-scheme-secondary-fixed-dim: 246 203 189;
    --m3-scheme-on-secondary-fixed: 85 57 46;
    --m3-scheme-on-secondary-fixed-variant: 116 84 73;
    --m3-scheme-tertiary: 255 249 237;
    --m3-scheme-tertiary-dim: 250 235 176;
    --m3-scheme-on-tertiary: 105 95 48;
    --m3-scheme-tertiary-container: 250 235 176;
    --m3-scheme-on-tertiary-container: 97 87 41;
    --m3-scheme-tertiary-fixed: 253 238 178;
    --m3-scheme-tertiary-fixed-dim: 239 224 165;
    --m3-scheme-on-tertiary-fixed: 79 70 26;
    --m3-scheme-on-tertiary-fixed-variant: 109 99 51;
    --m3-scheme-error: 255 113 100;
    --m3-scheme-error-dim: 218 52 46;
    --m3-scheme-on-error: 74 0 2;
    --m3-scheme-error-container: 172 12 18;
    --m3-scheme-on-error-container: 255 184 176;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-on-on-primary: 253 145 104;
    --m3-scheme-primary-container-subtle: 83 24 0;
    --m3-scheme-on-primary-container-subtle: 249 143 101;
    --m3-scheme-tertiary-container-subtle: 52 44 2;
    --m3-scheme-on-tertiary-container-subtle: 184 171 117;
    --m3-scheme-error-container-subtle: 96 0 4;
    --m3-scheme-on-error-container-subtle: 255 137 125;
  }
}
